@model IEnumerable<ProyectoVieBienestaryNutricion.Models.CategoriaCLS>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark text-center">Lista de Categorias</h2>
        </div>
        <div class="col-6">
            <a class="btn btn-success float-right" asp-area="Admin" asp-controller="Categorias" asp-action="Create"><i class="fas fa-plus"></i> Agregar Nueva Categoria</a>
        </div>
    </div>
    <br />
    <br />
    @if (Model.Count() > 0)
    {
        <table class="table" width="100%" cellspacing="0" id="tblCategorias">
            <thead class="thead-dark">
                <tr>
                    <th>@Html.DisplayNameFor(m => m.Id)</th>
                    <th>@Html.DisplayNameFor(m => m.NombreCategoria)</th>
                    <th>@Html.DisplayNameFor(m => m.DescripcionCategoria)</th>
                    <th>@Html.DisplayNameFor(m => m.FechaRegistroCategoria)</th>
                    <th>@Html.DisplayNameFor(m => m.Activo)</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Id)</td>
                        <td>@Html.DisplayFor(m => item.NombreCategoria)</td>
                        <td>@Html.DisplayFor(m => item.DescripcionCategoria)</td>
                        <td>@Html.DisplayFor(m => item.FechaRegistroCategoria)</td>
                        <td>@Html.DisplayFor(m => item.Activo)</td>
                        <td>
                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Categorias" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Editar</a>
                            <a class="btn btn-danger" asp-area="Admin" asp-controller="Categorias" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay registros</p>
    }
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            //Llamar a datatable
            $('#tblCategorias').DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                }
            });
        });
    </script>
}


